flask
qrcode[pil]
pystray

# Windows only
pywin32; sys_platform == 'win32'

# macOS only  
pyobjc-framework-Quartz; sys_platform == 'darwin'
pyobjc-framework-AppKit; sys_platform == 'darwin'

# Build tools
pyinstaller
